<form id="edittele" action="{{ path('programme_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" id="bpedit">Mettre à jour</button>
    </p>
</form>

<form id="delete" action="{{ path('film_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" id="bpsup">Delete</button>
</form>
<script type="text/javascript">
$(function(){
 $("#bpedit").button();
 $("#bpsup").button();
 $("#site_parnalbundle_programmetype_finaffichage").datepicker();
 $("#delete").submit(function()
   {
    var Data = $(this).serialize();
     $.ajax({
       url : "{{ path('programme_delete', { 'id': entity.id }) }}",
       type:"POST",
       datatype:"text",
       data : Data,       
       success: function(reponse) {
               $("#zonetele").load("{{ path('programme') }}");},
       error: function(reponse){
        alert("Suppression impossible, vous avez certainement une séance programmée ou des photos associés"); 
        }
     }); 
     return false;
   });
   var options = { 
        target:        '#zonetele',
        type:           "POST",
        success: function() {
            $("#zonetele").load("{{ path('programme') }}");
          }
        };
      $("#bpedit").button().click(function(event){
         $("#edittele").ajaxSubmit(options); 
         return false;     
     });
});
</script>
{{ tinymce_init() }}
