<table class="records_list">
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.presentation|raw }}</td>
            <td>{{ entity.fichier }}</td>
            <td>{% if entity.finaffichage %}{{ entity.finaffichage|date('Y-m-d') }}{% endif%}</td>
            <td>
                <span class="Bp" chemin="{{ path('programme_show', { 'id': entity.id }) }}">show</span>
                <span class="Bp" chemin="{{ path('programme_edit', { 'id': entity.id }) }}">edit</span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
$(function(){
  $(".Bp").button().click(function(event)
   {
    $("#zonetele").load($(this).attr("chemin"));
   }); 

});
</script>