<form id="editfilm" action="{{ path('film_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" id="bpedit">Mettre à jour</button>
    </p>
</form>

<form id="delete" action="{{ path('film_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" id="bpsup">Delete</button>
</form>
<script type="text/javascript">
 $("#site_parnalbundle_filmtype_date_sortie").datepicker();
 $("#bpsup").button().click(function(event){
    var Data = $("#delete").serialize();
     $.ajax({
       url : "{{ path('film_delete', { 'id': entity.id }) }}",
       type:"POST",
       datatype:"text",
       data : Data,       
       success: function(reponse) {
               $("#zonefilm").load("{{ path('film') }}");},
       error: function(reponse){
        alert("Suppression impossible, vous avez certainement une séance programmée ou des photos associés"); 
        }
     }); 
     return false;
   });
   var options = { 
        target: '#zonefilm',
        type:   "POST",
        success: function() {
            $("#zonefilm").load("{{ path('film') }}");
          }
        };
    $("#bpedit").button().click(function(event){
        $("#editfilm").ajaxSubmit(options); 
        return false;   
     }); 
</script>
{{ tinymce_init() }}
