<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ entity.titre }}</td>
        </tr>
        <tr>
            <th>Realisateur</th>
            <td>{{ entity.realisateur }}</td>
        </tr>
        <tr>
            <th>Date_sortie</th>
            <td>{{ entity.datesortie|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Duree</th>
            <td>{{ entity.duree }}</td>
        </tr>
        <tr>
            <th>Provenance</th>
            <td>{% if entity.provenance==0 %}France 
                 {% else %}{% if entity.provenance==1 %} USA
                  {% else %}{% if entity.provenance==2 %} Europe
                   {% else %}{% if entity.provenance==3 %} Reste du monde
                 {% endif %}{% endif %}{% endif %}{% endif %}
            </td>
        </tr>
        <tr>
            <th>Interdiction</th>
            <td>{{ entity.interdiction }}</td>
        </tr>
        <tr>
            <th>Conseille</th>           
            <td>{% if entity.conseille==0 %}Nothing 
                 {% else %}{% if entity.conseille==1 %} Adultes
                  {% else %}{% if entity.conseille==2 %} Ado - Adultes
                   {% else %}{% if entity.conseille==3 %} Ado
                    {% else %}{% if entity.conseille==4 %} Famille
                     {% else %}{% if entity.conseille==5 %} Jeune Public
                 {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
            </td>
        </tr>
        <tr>
            <th>Acteurs</th>
            <td>{{ entity.acteurs }}</td>
        </tr>
        <tr>
            <th>Synopsis</th>
            <td>{{ entity.synopsis|raw   }}</td>
        </tr>
        <tr>
            <th>Critique</th>
            <td>{{ entity.critique|raw  }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ entity.image }}</td>
        </tr>
        <tr>
            <th>Source image</th>
            <td>{{ entity.sourceimage }}</td>
        </tr>
        <tr>
            <th>Actif</th>
            <td>{{ entity.actif }}</td>
        </tr>
        <tr>
            <th>Art et Essai</th>
            <td>{{ entity.artessai }}</td>
        </tr>
        <tr>
            <th>Jeune Public</th>
            <td>{{ entity.labjp }}</td>
        </tr>
        <tr>
            <th>Recherche</th>
            <td>{{ entity.labrecherche }}</td>
        </tr>
        <tr>
            <th>Patrimoine</th>
            <td>{{ entity.labpatrimoine }}</td>
        </tr>
        <tr>
            <th>Copie ADRC</th>
            <td>{{ entity.copieadrc }}</td>
        </tr>
    </tbody>
</table>
<p id="Bpedit">Edit</p>
<span id="Bpeditssaff">Edit ss affiche</span>
<form id="delete" action="{{ path('film_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" id="bpsup">Delete</button>
</form>

<script type="text/javascript">
  $("#Bpedit").button().click(function(event)
   {
     $("#zonefilm").load("{{ path('film_edit', { 'id': entity.id }) }}");           
   }); 
  $("#Bpeditssaff").button().click(function(event)
   {
     $("#zonefilm").load("{{ path('film_cpltssaffiche', { 'id': entity.id }) }}");           
   }); 
$("#bpsup").button().click(function(event){
    var Data = $("#delete").serialize();
     $.ajax({
       url : "{{ path('film_delete', { 'id': entity.id }) }}",
       type:"POST",
       datatype:"text",
       data : Data,       
       success: function(reponse) {
               $("#zonefilm").load("{{ path('film') }}");
           },
       error: function(reponse){
        alert("Suppression impossible, vous avez certainement une séance programmée ou des photos associés"); 
        }
     }); 
     return false;
   });
</script>
